.ym-bg-white {
  background-color: var(--ym-white);
}
.ym-bg-blue {
  background-color: var(--ym-white);
}

.ym-custor-pointer {
  cursor: pointer;
}

.ym-border-basic {
  border: 1px solid var(--ym-border-color-base);
}

.ym-text-align-center {
  text-align: center;
}
.ym-text-align-left {
  text-align: left;
}
.ym-text-align-right {
  text-align: right;
}

.ym-flex {
  display: flex;
  &.ym-flex-fd-column {
    flex-direction: column;
  }
  &.ym-flex-jc-sb {
    justify-content: space-between;
  }
  &.ym-flex-jc-center {
    justify-content: center;
  }
  &.ym-flex-jc-sa {
    justify-content: space-around;
  }
  &.ym-flex-ai-center {
    align-items: center;
  }
}
.ym-flex-1 {
  flex: 1;
}

.ym-margin-large {
  padding: var(--ym-margin-large);
}
.ym-margin-large-y {
  padding: var(--ym-margin-large) 0;
}
.ym-margin-large-x {
  padding: 0 var(--ym-margin-large);
}
.ym-margin-default {
  padding: var(--ym-margin-default);
}
.ym-margin-default-y {
  padding: var(--ym-margin-default) 0;
}
.ym-margin-default-x {
  padding: 0 var(--ym-margin-default);
}
.ym-margin-small {
  padding: var(--ym-margin-small);
}
.ym-margin-small-y {
  padding: var(--ym-margin-small) 0;
}
.ym-margin-small-x {
  padding: 0 var(--ym-margin-small);
}

.ym-padding-large {
  padding: var(--ym-padding-large);
}
.ym-padding-default {
  padding: var(--ym-padding-default);
}
.ym-padding-default-y {
  padding: var(--ym-padding-default) 0;
}
.ym-padding-default-x {
  padding: 0 var(--ym-padding-default);
}
.ym-padding-small {
  padding: var(--ym-padding-small);
}
.ym-padding-small-y {
  padding: var(--ym-padding-small) 0;
}
.ym-padding-small-x {
  padding: 0 var(--ym-padding-small);
}

.ym-br-large {
  border-radius: var(--ym-br-large);
}
.ym-br-default {
  border-radius: var(--ym-br-default);
}
.ym-br-small {
  border-radius: var(--ym-br-small);
}
