:root {
  --ym-white: rgb(255, 255, 255);
  --ym-blue: rgb(58, 142, 230);
  --ym-red: rgb(221, 97, 97);
  --ym-border-color-base: #dcdfe6;
  --ym-border-color-light: #e4e7ed;
  --ym-border-color-lighter: #ebeef5;

  --ym-margin-large: 15px;
  --ym-margin-default: 10px;
  --ym-margin-small: 6px;

  --ym-padding-large: 15px;
  --ym-padding-default: 10px;
  --ym-padding-small: 6px;

  --ym-br-large: 6px;
  --ym-br-default: 3px;
  --ym-br-small: 2px;
}
